<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>POS</b>SPA</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a routerLink="/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
          <a routerLink="/customer">
            <i class="fa fa-user"></i> <span>Manage Customers</span>
          </a>
        </li>
        <li class="treeview">
          <a routerLink="/item">
            <i class="fa fa-address-book"></i> <span>Manage Items</span>
          </a>
        </li>
        <li class="treeview">
          <a routerLink="/order">
            <i class="fa fa-cart-plus"></i> <span>Place Order</span>
          </a>
        </li>
        <li class="treeview">
          <a routerLink="/search">
            <i class="fa fa-search-plus"></i> <span>Search Order</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2019 <a href="http://ijse.lk">IJSE - DEP</a>.</strong> All rights
    reserved.
  </footer>

</div>
<!-- ./wrapper -->
